<div class="cards">
  <div class="card">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>The Witcher</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/The-Witcher.jpg" alt="The Witcher">
        <mat-card-content>
          <p>
            The Witcher es una serie de televisión web estadounidense de drama y fantasía oscura creada por Lauren Schmidt Hissrich para Netflix. Se basa en la Saga de Geralt de Rivia del escritor polaco Andrzej Sapkowski.

            Ubicada en un mundo medieval en una masa de tierra conocida como "el Continente", The Witcher explora la leyenda de Geralt de Rivia y la princesa Ciri, que están unidos el uno al otro por el destino. Está protagonizada por Henry Cavill, Freya Allan y Anya Chalotra.
          </p>
        </mat-card-content>
      </mat-card>  
</div>
<div class="card">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/SHADOW AND BONE.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Alina Starkov (Jessie Mei Lei) es una joven huérfana que cambia su vida cuando adquiere un poder extraordinario que le lleva a forma parte de los Grisha, magos de élite liderados por El Oscuro (Ben Barnes).
            Con su nuevo poder, Alina puede cambiar su destino y el de Ravka, su mundo en conflicto
          </p>
        </mat-card-content>
      </mat-card>  
</div>
<div class="card">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>SHADOWHUNTERS</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/SHADOWHUNTERS.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Shadowhunters es una serie de televisión de fantasía, acción y drama sobrenatural basada en la serie literaria juvenil Cazadores de sombras, escrita por la autora estadounidense Cassandra Clare. La cadena ABC confirmó que estrenaría por Freeform el 12 de enero de 2016, con McG y Ed Decter como principales productores ejecutivos, además de director y guionista, respectivamente. 
          </p>
        </mat-card-content>
      </mat-card>  
</div>
<div class="card">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>SEX/LIFE</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/SEXLIFE.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            En la serie conoceremos a Billie Connelly, una mujer que tiene consigo todas las de perder. Es una madre suburbana con dos niños, que busca sacar del armario donde una vez la metió a esa madre sensual y soltera que una vez, hace diez años, fue. 

            Billie se embarca en un viaje cargado de fantasía para rescatar a esa mujer, aunque no lo tendrá nada fácil puesto que la memoria hace que la mujer casada y madre de dos niños que es ahora, colisione de frente y sin control con la chica salvaje que desea volver a ser.
          </p>
        </mat-card-content>
      </mat-card>  
</div>
<div class="card">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>DEATH NOTE</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/DEATH NOTE.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Un libro malévolo (Death Note) cae en manos de Yagami Light, un joven de 17 años de edad. Este cuaderno negro lo encuentra un día en el patio de su colegio. Ese libro tiene unas instrucciones claras y encierra una magia oscura: si alguien anota un nombre en sus páginas, esa persona muere a los pocos segundos.

            Yagami no lo cree en un principio pero una vez lo prueba y comprueba que es cierto, toda su vida cambia por completo. El protagonista usará este artilugio para eliminar del mundo todos esas personas malas, criminales y seres oscuros y malvados que lo acechan. Instituciones internacionales están en alerta por estas muertes pero la Interpol guarda un secreto con nombre propio: L. Un detective que ha solucionado casos misteriosos que jamás se pensó que podrían resolverse
          </p>
        </mat-card-content>
      </mat-card>  
</div>
</div>